html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f5f5f5;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .large-rounded-input {
    @apply rounded-3xl bg-transparent text-inherit text-xl border-2 border-white px-2 py-1
  }

  .standard-button {
    @apply rounded-3xl py-2 text-base
  }
}